@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.text-align-left {
    text-align: left;
}

.d-flex {
    display: flex;
}