@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.text-align-left {
    text-align: left;
}

.d-flex {
    display: flex;
}

.btnGeneric {
    padding: 1rem 3rem;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}

.btnBlue {
    background: rgb(8, 147, 195);
    background: linear-gradient(90deg, rgba(8, 147, 195, 1) 0%, rgba(27, 77, 142, 1) 100%);

}

.btnRed {
    background: rgb(192, 46, 110);
    background: linear-gradient(90deg, rgba(192, 46, 110, 1) 0%, rgba(241, 92, 108, 1) 100%);
}

.container {
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
}

.justify-bewtween {
    justify-content: space-between;
}